.row-homepage-investor {
  padding: 5px;
}

.input-investor {
  text-align: left;
  position: relative;
}

.input-investor svg{
  position: absolute;
  left: 2%;
  top: 25%;
  color: rgba(0, 0, 0, 0.4);
}

.pageNumbers {
    list-style: none;
    display: flex;
    font-family: 'DM Sans', sans-serif;
  }
  
  .pageNumbers li {
    padding: 10px;
    cursor: pointer;
    min-width: 40px;
    border-radius: 10px;
  }

  .pageNumbers li:hover {
    background-color: #146A5F;
    color: rgb(255, 255, 255);
  }
  
  .pageNumbers li.active {
    background-color: #146A5F;
    color: white;
  }
  
  .pageNumbers li button {
    background-color: transparent;
    border: none;
    color: #146A5F;
    cursor: pointer;
  }

  .pageNumbers li button:hover {
    background-color: #146A5F;
    color: rgb(255, 255, 255);
  }
  .pageNumbers li button:focus {
    outline: none;
    background-color: #146A5F;
    color: white;
  }

  .css-tlfecz-indicatorContainer{
    width: 70px;
  }

  .list-pengadaan-null-wrapper{
    justify-content: center;
    height: 350px;
}

.homepage-investor-filter-title{
    color: white;
    font-weight: 700;
}

.homepage-investor-search-bar{
  min-height: 48px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0px 45px;
  font-family: 'DM Sans', sans-serif;
}