.wkd-reset-pass-banner-card {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 4%;
    margin-top: 3%;
    box-sizing: initial;
}

.wkd-reset-pass-height {
    margin-top: 5%; 
    margin-bottom: 22%
}

.wkd-reset-pass-input {
    text-align: left;
}