@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:wght@300;400;600;700;800&display=swap');


h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 55px;
    line-height: 65px;
    margin: 0;
}

h2 {
    font-size: 40px;
    line-height: 60px;
}

h3 {
    font-size: 30px;
    margin-top: 5px;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin: 0;
}

button {
    font-size: 16px;
    margin-top: 20px;
}

.sect-1-container, .sect-2-container, .sect-2-bg{
    display: flex;
    align-items: center;
    height: 731px;
    max-width: 1214px;
    margin-left: auto;
    margin-right: auto;
}

.sect-1-container .sect-1 {
    width: 751px;
    text-align: left;
}

.sect-1-icon {
    width: 690px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect-1-icon #ic-arcade {
    position: relative;
    width: 500px;
    z-index: 5;
}

.sect-1-icon #ic-circle {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: #D3F1EE;
    position: absolute;
    right: 5%;
    z-index: 0;
}

.sect-2-bg {
    background-color: #D3F1EE;
    width: 100%;
    max-width: none;
}

.green-text {
    color: #146A5F;
}

.sect-2-icon {
    width: 400px;
    height: 400px;
    padding: 107px;
}

.sect-2-text {
    width: 602px;
    text-align: left;
}

.sect-3-container {
    height: 893px;
    margin-bottom: 100px;
}

.banner-card {
    position: relative;
    z-index: 2;
    display: flexbox;
    margin: -100px auto 0;
    width: 1064px;
    height: 735px;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 70px;
    justify-content: center;
}

.roles-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 834px;
}

.roles {
    width: 369px;
}

.roles p {
    font-size: 20px;
    line-height: 25px;
}

.roles-icon {
    margin-top: 50px;
    width: 369px;
    height: 369px;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #D3F1EE 63.75deg, rgba(255, 255, 255, 0) 360deg);
    display: flex;
    justify-content: center;
    align-items: center;
}