@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:wght@300;400;600;700;800&display=swap');

.wkd-home-headings {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 55px;
    line-height: 65px;
    margin: 0;
}

.wkd-home-h2 {
    font-size: 40px;
    line-height: 60px;
}

.wkd-home-h3 {
    font-size: 30px;
    margin-top: 5px;
}

.wkd-home-p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin: 0;
}

.wkd-home-button {
    margin-top: 20px;
}

.wkd-home-sect-1-container, .wkd-home-sect-2-container, .wkd-home-sect-2-bg{
    display: flex;
    align-items: center;
    height: 731px;
    max-width: 1214px;
    margin-left: auto;
    margin-right: auto;
}

.wkd-home-sect-1-container .wkd-home-sect-1 {
    width: 751px;
    text-align: left;
}

.wkd-home-sect-1-icon {
    width: 690px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wkd-home-sect-1-icon #wkd-home-ic-arcade {
    position: relative;
    width: 500px;
    z-index: 5;
}

.wkd-home-sect-1-icon #wkd-home-ic-circle {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: #D3F1EE;
    position: absolute;
    margin-left: 10%;
    z-index: 0;
}

.wkd-home-sect-2-bg {
    background-color: #D3F1EE;
    width: 100%;
    max-width: none;
}

.wkd-green-text {
    color: #146A5F;
}

.wkd-home-sect-2-icon {
    width: 400px;
    height: 400px;
    padding: 107px;
    box-sizing: initial;
}

.wkd-home-sect-2-text {
    width: 602px;
    text-align: left;
}

.wkd-home-sect-3-container {
    margin-bottom: 5%;
    width: 80%;
    display: inline-flex;
}

.wkd-home-banner-card {
    position: relative;
    z-index: 2;
    margin: -10% auto 0;
    width: 100%;
    height: 80%;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 5%;
    box-sizing: initial;
}

.wkd-home-roles-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 834px;
}

.wkd-home-roles {
    width: 369px;
}

.wkd-home-roles p {
    font-size: 20px;
    line-height: 25px;
}

.wkd-home-roles-icon {
    margin-top: 50px;
    width: 369px;
    height: 369px;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #D3F1EE 63.75deg, rgba(255, 255, 255, 0) 360deg);
    display: flex;
    justify-content: center;
    align-items: center;
}