@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Nunito:wght@300;400;600;700;800&display=swap');
.pemilik-toko-h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin: 0;
}

.pemilik-toko-text-light-green {
    color: #0BBBA8;
    /* color: #146A5F; */
}

.pemilik-toko-text-bold {
    font-weight: 1000;
}

.text-align-left {
    text-align: left;
}

.pemilik-toko-img-daftarkan-toko {
    max-width: 40%;
    margin-right: 20px;
    margin-left: 20px;
    display: block;
}